<% include ./partials/header %>

<div class="col-lg-12">
    <div class="block margin-bottom-sm">
        <div class="title"><strong>New Orders</strong>
            <form class="form-inline" action="/admin/orders/newOrders" method="GET">
                <div class="form-group">
                    <label for="inlineFormInput" class="sr-only">Name</label>
                    <input id="inlineFormInput" type="search" name="search" placeholder="Search Order" class="mr-sm-3 form-control">
                </div>
                <button type="submit" class="submit btn btn-primary">Search</button>
            </form>
        
        </div>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Order For</th>
                    <th>Order Id</th>
                    <th>Ordered At</th>
                    <th>Contact Number</th>
                    <th>Payment Method</th>
                    <th>Total Price</th>
                    <!--<th>Product Name</th>-->
                    <!--<th>Price</th>-->
                    <!--<th>Quantity</th>-->
                  </tr>
                </thead>
                <tbody>
                  <% orders.forEach(function(order) { %>
                        
                            <tr>
                                 <th><a href="/admin/orders/<%= order._id %>"><%= order.firstName %> <%= order.lastName %> </a></th>
                                 <th><%= order._id %></th>
                                 <th><%=  moment(order.createdAt).format('MMMM Do YYYY, h:mm:ss a'); %></th>
                                 <th><%= order.contactNumber %></th>
                                 <th><%= order.paymentMethod %></th>
                                 <th>₱<%= order.cart.totalPrice %></th>
                                 <!--<th><%#= prod.name %></th>-->
                                 <!--<th><%#= prod.price %></th>-->
                                 <!--<th><%#= prod.quantity %></th>-->
                                 <th>
                                      <a href="/admin/orders/<%= order._id %>" class="btn btn-outline-warning">View</a>
                                      <!--<form action="/admin/<%#= prod._id %>?_method=DELETE" method="POST" style="display:inline">-->
                                      <!--     <input type="submit" value="Delete" class="btn btn-outline-danger" />-->
                                      <!--</form>-->
                                 </th>
                                 
                           </tr>
                        
                       <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
  document.getElementById("home").classList.remove('active');
  document.getElementById("orderMain").classList.add('active');
  document.getElementById("orders").classList.add('active');
</script>
<% include ./partials/footer %>