<% prods.forEach(function(prod) { %>
    <div id="product-pop-up-<%= prod._id%>" style="display: none; width: 700px;">
            <div class="product-page product-pop-up">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-3">
                  <div class="product-main-image">
                    <img src="<%= prod.image %>" alt="<%= prod.name %>" class="img-responsive">
                  </div>
                  <div class="product-other-images">
                   
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-9">
                  <h2><%= prod.name %></h2>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <strong><span>₱</span><%= prod.price %></strong>
                    </div>
                    <div class="availability">
                      <%if (prod.quantity === 0) { %>
                        <strong>Not Available</strong>
                      <% } else { %>
                        Availability: <strong><%= prod.quantity %></strong>
                      <% } %> 
                    </div>
                  </div>
                  <div class="description">
                    <p><%= prod.description %></p>
                  </div>
                  <div class="product-page-options">
                    <div class="pull-left">
                      
                    </div>
                    <div class="pull-left">
                      <!--<label class="control-label">Color:</label>-->
                      <!--<select class="form-control input-sm">-->
                      <!--  <option>Red</option>-->
                      <!--  <option>Blue</option>-->
                      <!--  <option>Black</option>-->
                      </select>
                    </div>
                  </div>
                  <div class="product-page-cart">
                    <!--<div class="product-quantity">-->
                    <!--    <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">-->
                    <!--</div>-->
                    
                    <a href="/cart/add-to-cart/<%= prod._id %>"><button class="btn btn-primary" type="submit">Add to cart</button></a>
                    <a href="/shop-item/<%= prod.id %>" class="btn btn-default">More details</a>
                  </div>
                </div>

                
              </div>
            </div>
    </div>
    
    <% }) %>