<% include ./partials/header %>

<div class="title-wrapper">
      <div class="container"><div class="container-inner">
        <!--<h1><span>MEN</span> CATEGORY</h1>-->
        <!--<em>Over 4000 Items are available here</em>-->
      </div></div>
</div>

<div class="main">
      <div class="container">
        <h1 style="color: red;"><%= message %></h1>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <% include ./partials/sidebar %>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="product-page">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="product-main-image">
                    <img src="<%= foundItem.image %>" alt="Cool green dress with red bell" class="img-responsive" data-BigImgsrc="assets/pages/img/products/model7.jpg">
                  </div>
                  <!--<div class="product-other-images">-->
                  <!--  <a href="assets/pages/img/products/model3.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model3.jpg"></a>-->
                  <!--  <a href="assets/pages/img/products/model4.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model4.jpg"></a>-->
                  <!--  <a href="assets/pages/img/products/model5.jpg" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="assets/pages/img/products/model5.jpg"></a>-->
                  <!--</div>-->
                </div> 
                <div class="col-md-6 col-sm-6">
                  <h1><%= foundItem.name %></h1>
                  <div class="price-availability-block clearfix">
                    <div class="price">
                      <strong><span>$</span><%= foundItem.price %></strong>
                      
                    </div>
                    <div class="availability">
                      Availability: <strong><%= foundItem.quantity %></strong>
                    </div>
                  </div>
                  <div class="description">
                    <p><%= foundItem.description %></p>
                  </div>
                  <div class="product-page-cart">
                    <!--<div class="product-quantity">-->
                    <!--    <input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">-->
                    <!--</div>-->
                    <a href="/cart/add-to-cart/<%= foundItem._id %>"><button class="btn btn-primary" type="submit">Add to cart</button></a>
                  </div>
                  <!--<div class="review">-->
                  <!--  <input type="range" value="4" step="0.25" id="backing4">-->
                  <!--  <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">-->
                  <!--  </div>-->
                  <!--  <a href="javascript:;">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>-->
                  <!--</div>-->
                  
                </div>

                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#Reviews" data-toggle="tab">Reviews</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Reviews">
                      <!--<p>There are no reviews for this product.</p>-->
                      <% foundItem.reviews.forEach(function(review) { %>
                      <div class="review-item clearfix">
                        <div class="review-item-submitted">
                          <strong><%= review.author.name %></strong>
                          <em><%= moment(review.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></em>
                          <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>                                              
                        <div class="review-item-content">
                            <p><%= review.text %></p>
                           
                        </div>
                        
                        <% if (currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <div>
                          <button class="btn btn-warning" id="myBtn" >EDIT</button>

                          <!-- The EDIT Modal -->
                          <div id="myModal" class="modal">
                          
                            <!-- Modal content -->
                            <div class="modal-content">
                              <span class="close">&times;</span>
                              <form action="/shop-item/<%= foundItem._id %>/reviews/<%= review._id%>?_method=PUT" method="POST" class="reviews-form" role="form">
                                <h2>EDIT a review</h2>
                                <!--<div class="form-group">-->
                                <!--  <label for="name">Name <span class="require">*</span></label>-->
                                <!--  <input type="text" class="form-control" name="review[author]" id="name" value="<%= currentUser.firstName %> <%= currentUser.lastName %> " readonly>-->
                                <!--</div>-->
                                
                                <div class="form-group">
                                  <label for="review">Review <span class="require">*</span></label>
                                  <textarea class="form-control" rows="8" id="review" name="review[text]"><%= review.text %></textarea>
                                </div>
                                <!--<div class="form-group">-->
                                <!--  <label for="email">Rating</label>-->
                                <!--  <input type="range" value="4" step="0.25" id="backing5">-->
                                <!--  <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">-->
                                <!--  </div>-->
                                <!--</div>-->
                                <div class="padding-top-20">                  
                                  <button type="submit" class="btn btn-primary">Submit Review</button>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                              </form>
                            </div>
                          
                          </div>
                          
                          <form style="display: inline" action="/shop-item/<%= foundItem._id %>/reviews/<%= review._id%>?_method=DELETE" method="POST" class="reviews-form" >
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          </form>
                        </div>
                        <% } %>
                      </div>
                      <% }) %>
                      

                      <!-- BEGIN FORM-->
                      <% if (!currentUser) { %>
                      <h1><a href="/login">Log in</a> to write a review</h1>
                      <% } else { %>
                      <form action="/shop-item/<%= foundItem._id %>/reviews" method="POST" class="reviews-form" role="form">
                        <h2>Write a review</h2>
                        <!--<div class="form-group">-->
                        <!--  <label for="name">Name <span class="require">*</span></label>-->
                        <!--  <input type="text" class="form-control" name="review[author]" id="name" value="<%= currentUser.firstName %> <%= currentUser.lastName %> " readonly>-->
                        <!--</div>-->
                        
                        <div class="form-group">
                          <label for="review">Review <span class="require">*</span></label>
                          <textarea class="form-control" rows="8" id="review" name="review[text]"></textarea>
                        </div>
                        <!--<div class="form-group">-->
                        <!--  <label for="email">Rating</label>-->
                        <!--  <input type="range" value="4" step="0.25" id="backing5">-->
                        <!--  <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">-->
                        <!--  </div>-->
                        <!--</div>-->
                        <div class="padding-top-20">                  
                          <button type="submit" class="btn btn-primary" <% if (currentUser && foundItem.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>>Submit Review</button>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      </form>
                      <% } %>
                      
                      <!-- END FORM--> 
                    </div>
                  </div>
                </div>

                <!--<div class="sticker sticker-sale"></div>-->
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        
      </div>
    </div>
    
    

<% include ./partials/footer %>