<% include ./partials/header %>

<div class="title-wrapper">
      <div class="container"><div class="container-inner">
        <!--<h1><span>MEN</span> CATEGORY</h1>-->
        <!--<em>Over 4000 Items are available here</em>-->
      </div></div>
</div>

<div class="main">
      <div class="container">
        
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <% include ./partials/sidebar %>
          
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            
            <!-- BEGIN PRODUCT LIST -->
            
            
            <% if (is_desktop) { %>
              <div class="row product-list">
              <% prods.forEach(function(prod) { %>
              <!-- PRODUCT ITEM START -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper" >
                    <img src="<%= prod.image %>" class="img-responsive image-same-size" alt="<%= prod.name %>" >
                    <div>
                      <a href="<%= prod.image %>" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up-<%= prod._id %>" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="/shop-item/<%= prod.id %>"><%= prod.name %></a></h3>
                  <div class="pi-price">₱<%= prod.price %></div>
                  <a href="/cart/add-to-cart/<%= prod._id %>" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <% }) %>
            <% } else if (is_phone) { %>
            <div class="row product-list">
              <% prods.forEach(function(prod) { %>
              <!-- PRODUCT ITEM START -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper" >
                    <img src="<%= prod.image %>" class="img-responsive" alt="<%= prod.name %>" >
                    <div>
                      <a href="<%= prod.image %>" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up-<%= prod._id %>" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="/shop-item/<%= prod.id %>"><%= prod.name %></a></h3>
                  <div class="pi-price">₱<%= prod.price %></div>
                  <p>lajshgklja</p>
                  <a href="/cart/add-to-cart/<%= prod._id %>" class="btn btn-default">Add to cart</a>
                </div>
              </div>
              <% }) %>
               <% } %>
              <!-- PRODUCT ITEM END -->
              
            </div>
            <!-- END PRODUCT LIST -->
            
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
<!-- BEGIN fast view of a product -->
    <% include ./partials/fastView %>
<!-- END fast view of a product -->       
    
<% include ./partials/footer %>