<% include ./partials/header %>
<div class="container">
  
  <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Checkout</h1>
            <form action="/checkout" method="POST">
            <!-- BEGIN CHECKOUT PAGE -->
            <div class="panel-group checkout-page accordion scrollable" id="checkout-page">
            
              <!-- BEGIN CHECKOUT -->
              <div id="checkout" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#checkout-content" class="accordion-toggle">
                      Delivery Details
                    </a>
                  </h2>
                </div>
                <div id="checkout-content" class="panel-collapse collapse in">
                  <div class="panel-body row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="firstname-dd">First Name <span class="require">*</span></label>
                        <input type="text" id="firstname-dd" class="form-control" name="firstName" required>
                      </div>
                      <div class="form-group">
                        <label for="lastname-dd">Last Name <span class="require">*</span></label>
                        <input type="text" id="lastname-dd" class="form-control" name="lastName" required>
                      </div>
                      <div class="form-group">
                        <label for="email-dd">E-Mail <span class="require">*</span></label>
                        <input type="text" id="email-dd" class="form-control" name="email" required>
                      </div>
                      <div class="form-group">
                        <label for="telephone-dd">Phone Number <span class="require">*</span></label>
                        <input type="text" id="telephone-dd" class="form-control" name="contactNumber" required>
                      </div>
                      
                     
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="address1-dd">Address 1</label>
                        <textarea class="form-control" rows="6" name="address" placeholder="Type your address here" required></textarea>
                      </div>
                      
                      <div class="form-group">
                        <label for="city-dd">City <span class="require">*</span></label>
                        <input type="text" id="city-dd" class="form-control" name="city" required>
                      </div>
                      <div class="form-group">
                        <label for="post-code-dd">Post Code <span class="require">*</span></label>
                        <input type="text" id="post-code-dd" class="form-control" name="postCode">
                      </div>
                      
                      
                      <div class="col-md-12">
                      <button class="btn btn-primary  pull-right" type="button" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">Continue</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CHECKOUT -->
              
              

              <!-- BEGIN PAYMENT METHOD -->
              <div id="payment-method" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" class="accordion-toggle">
                      Payment Method
                    </a>
                  </h2>
                </div>
                <div id="payment-method-content" class="panel-collapse collapse">
                  <div class="panel-body row">
                    <div class="col-md-12">
                      <p>Please select the preferred payment method to use on this order.</p>
                      <div class="radio-list">
                        <label>
                          <input type="radio" name="paymentMethod" id="cashOnDelivery" value="CashOnDelivery"> Cash On Delivery
                          <input type="radio" name="paymentMethod" id="remittance" value="Remittance"> Remittance
                        </label>
                      </div>
                      <div id="paymentMethodNote"></div>
                      <button class="btn btn-primary  pull-right" type="button" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">Continue</button>
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- END PAYMENT METHOD -->

              <!-- BEGIN CONFIRM -->
              <div id="confirm" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" class="accordion-toggle">
                       Confirm Order
                    </a>
                  </h2>
                </div>
                <div id="confirm-content" class="panel-collapse collapse">
                  <div class="panel-body row">
                    <div class="col-md-12 clearfix">
                      <div class="table-wrapper-responsive">
                      <table>
                        <tr>
                          <th class="checkout-image">Image</th>
                          <th class="checkout-description">Description</th>
                          
                          <th class="checkout-quantity">Quantity</th>
                          <th class="checkout-price">Price</th>
                          <th class="checkout-total">Total</th>
                        </tr>
                        <% products.forEach(function(product) { %>
                        <tr>
                          
                          
                          <td class="checkout-image">
                            <a href="javascript:;"><img src="<%= product.item.image %>" alt="<%= product.item.name %>"></a>
                          </td>
                          <td class="checkout-description">
                            <h3><a href="javascript:;"><%= product.item.name %></a></h3>
                          </td>
                          
                          <td class="checkout-quantity"><%= product.qty%></td>
                          <td class="checkout-price"><strong><span>₱</span><%= product.item.price %></strong></td>
                          <td class="checkout-total"><strong><span>₱</span><%= product.price %></strong></td>
                        </tr>
                        <% }) %>
                        
                      </table>
                      </div>
                      <div class="checkout-total-block">
                        <ul>
                          
                          
                          <li class="checkout-total-price">
                            <em>Total</em>
                            <strong class="price"><span>₱</span><%= total %></strong>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                      <button class="btn btn-primary pull-right" type="submit" id="button-confirm">Confirm Order</button>
                      <button type="button" class="btn btn-default pull-right margin-right-20">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CONFIRM -->
            </div>
            <!-- END CHECKOUT PAGE -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
          <!-- END CONTENT -->
</div>


<script>
    $( "#cashOnDelivery" ).on( "click", function() {
  $( "#paymentMethodNote" ).html( $( "input:checked" ).val() + " is checked!" );
});
</script>
<% include ./partials/footer %>